body {
  font-family: Roboto, "Arial Narrow Bold", sans-serif;
}
#banner {
  background-image: url(./banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-position: center;
}
